<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <title>My site</title>
</head>
<body>
<div class="container">
    <th:block layout:fragment="content">
        <h1>My form</h1>
        <form action="">
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="firstname">First name:</label>
                    <input type="text" class="form-control" id="firstname"/>
                </div>

                <div class="col-sm-4">
                    <label for="lastname">Last name:</label>
                    <input type="text" class="form-control" id="lastname"/>
                </div>
            </div>

            <div th:replace="fragments/form :: text(name = 'fullname')"></div>
            <div th:replace="fragments/form :: password(name='passwd')"></div>
            <div th:replace="fragments/form :: radio(name ='tv', options = ${ {'Samsung', 'Sony', 'LG'} }) "></div>
            <div th:replace="fragments/form :: checkbox(name = 'extras', options = ${ {'DVD', 'Blueray', 'Playstation 4'} })"></div>
            <div th:replace="fragments/form :: select(name='color', options = ${ {'Blue', 'Green', 'Black'} })"></div>
            <div th:replace="fragments/form :: textarea(name='information')"></div>

            <div th:replace="fragments/form :: submit(name='send')"></div>
        </form>
    </th:block>
</div>
</body>
</html>